extends ../layout
block content
  .container
    h1 Create Job
    +alerts()
    form.form-horizontal(action='/job/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Handle
        .col-sm-10
          input.form-control(type='text', name='handle', placeholder='Handle')
      .form-group
        label.control-label.col-sm-2 Description
        .col-sm-10
          input.form-control(type='text', name='description', placeholder='description')
      .form-group
        label.control-label.col-sm-2 Category
        .col-sm-10
          input.form-control(type='text', name='category', placeholder='category')
      .form-group
        label.control-label.col-sm-2 Priority
        .col-sm-10
          input.form-control(type='text', name='priority', placeholder='priority')
      .form-group
        label.control-label.col-sm-2 Status
        .col-sm-10
          input.form-control(type='text', name='status', placeholder='Status')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save