#actionType {
  width: 200px;
  display: inline;
  height: 30px;
  vertical-align: middle;
}

#actionSubmitButton {
  margin-left: -7px;
}

#fileDetailFrame {
  width: 100%;
  margin: auto;
  height: 500px;
}

#importStatusFull {
  margin-top: 10px;
  background: #F2FFF2;
  padding: 5px;
  border: 1px solid #F2FFF2;
  border-radius: 12px;
  -moz-border-radius: 12px;
}

#importStatusSmall {
  padding: 5px;
}
