.list-group-item-prism { mix-blend-mode: difference; }
.prism0000 { background-color:#d6cbd3; color:#000; }
.prism0001 { background-color:#eca1a6; color:#000; }
.prism0002 { background-color:#bdcebe; color:#000; }
.prism0003 { background-color:#ada397; color:#000; }
.prism0004 { background-color:#d5e1df; color:#000; }
.prism0005 { background-color:#e3eaa7; color:#000; }
.prism0006 { background-color:#b5e7a0; color:#000; }
.prism0007 { background-color:#86af49; color:#fff; }
.prism0008 { background-color:#b9936c; color:#000; }
.prism0009 { background-color:#dac292; color:#000; }
.prism0010 { background-color:#e6e2d3; color:#000; }
.prism0011 { background-color:#c4b7a6; color:#000; }
.prism0012 { background-color:#3e4444; color:#fff; }
.prism0013 { background-color:#82b74b; color:#fff; }
.prism0014 { background-color:#405d27; color:#fff; }
.prism0015 { background-color:#c1946a; color:#000; }
.prism0016 { background-color:#92a8d1; color:#000; }
.prism0017 { background-color:#034f84; color:#fff; }
.prism0018 { background-color:#f7cac9; color:#fff; }
.prism0019 { background-color:#f7786b; color:#fff; }
.prism0020 { background-color:#deeaee; color:#000; }
.prism0021 { background-color:#b1cbbb; color:#000; }
.prism0022 { background-color:#eea29a; color:#000; }
.prism0023 { background-color:#c94c4c; color:#fff; }
.prism0024 { background-color:#d5f4e6; color:#000; }
.prism0025 { background-color:#80ced6; color:#000; }
.prism0026 { background-color:#fefbd8; color:#000; }
.prism0027 { background-color:#618685; color:#fff; }
.prism0028 { background-color:#ffef96; color:#000; }
.prism0029 { background-color:#50394c; color:#fff; }
.prism0030 { background-color:#b2b2b2; color:#fff; }
.prism0031 { background-color:#f4e1d2; color:#000; }
.prism0032 { background-color:#fefbd8; color:#000; }
.prism0033 { background-color:#618685; color:#fff; }
.prism0034 { background-color:#36486b; color:#fff; }
.prism0035 { background-color:#4040a1; color:#fff; }
.prism0036 { background-color:#b2b2b2; color:#fff; }
.prism0037 { background-color:#f4e1d2; color:#000; }
.prism0038 { background-color:#f18973; color:#fff; }
.prism0039 { background-color:#bc5a45; color:#fff; }
.prism0040 { background-color:#f0f0f0; color:#000; }
.prism0041 { background-color:#c5d5c5; color:#000; }
.prism0042 { background-color:#9fa9a3; color:#fff; }
.prism0043 { background-color:#e3e0cc; color:#000; }
.prism0044 { background-color:#eaece5; color:#000; }
.prism0045 { background-color:#b2c2bf; color:#000; }
.prism0046 { background-color:#c0ded9; color:#000; }
.prism0047 { background-color:#3b3a30; color:#fff; }
.prism0048 { background-color:#e4d1d1; color:#000; }
.prism0049 { background-color:#b9b0b2; color:#000; }
.prism0050 { background-color:#d9ecd0; color:#000; }
.prism0051 { background-color:#77a8a8; color:#000; }
.prism0052 { background-color:#f0efef; color:#000; }
.prism0053 { background-color:#ddeedd; color:#000; }
.prism0054 { background-color:#c2d4dd; color:#000; }
.prism0055 { background-color:#b0aac0; color:#000; }
.prism0056 { background-color:#c8c3cc; color:#000; }
.prism0057 { background-color:#563f46; color:#fff; }
.prism0058 { background-color:#8ca3a3; color:#fff; }
.prism0059 { background-color:#484f4f; color:#fff; }
.prism0060 { background-color:#e0e2e4; color:#000; }
.prism0061 { background-color:#c6bcb6; color:#000; }
.prism0062 { background-color:#96897f; color:#fff; }
.prism0063 { background-color:#625750; color:#fff; }
.prism0064 { background-color:#7e4a35; color:#fff; }
.prism0065 { background-color:#cab577; color:#000; }
.prism0066 { background-color:#dbceb0; color:#000; }
.prism0067 { background-color:#838060; color:#fff; }
.prism0068 { background-color:#bbab9b; color:#fff; }
.prism0069 { background-color:#8b6f47; color:#fff; }
.prism0070 { background-color:#d4ac6e; color:#000; }
.prism0071 { background-color:#4f3222; color:#fff; }
.prism0072 { background-color:#686256; color:#fff; }
.prism0073 { background-color:#c1502e; color:#000; }
.prism0074 { background-color:#587e76; color:#000; }
.prism0075 { background-color:#a96e5b; color:#fff; }
.prism0076 { background-color:#454140; color:#fff; }
.prism0077 { background-color:#bd5734; color:#fff; }
.prism0078 { background-color:#a79e84; color:#000; }
.prism0079 { background-color:#7a3b2e; color:#fff; }
.prism0080 { background-color:#bccad6; color:#000; }
.prism0081 { background-color:#8d9db6; color:#fff; }
.prism0082 { background-color:#667292; color:#fff; }
.prism0083 { background-color:#f1e3dd; color:#000; }
.prism0084 { background-color:#cfe0e8; color:#000; }
.prism0085 { background-color:#b7d7e8; color:#000; }
.prism0086 { background-color:#87bdd8; color:#000; }
.prism0087 { background-color:#daebe8; color:#000; }
.prism0088 { background-color:#fbefcc; color:#000; }
.prism0089 { background-color:#f9ccac; color:#000; }
.prism0090 { background-color:#f4a688; color:#fff; }
.prism0091 { background-color:#e0876a; color:#fff; }
.prism0092 { background-color:#fff2df; color:#000; }
.prism0093 { background-color:#d9ad7c; color:#fff; }
.prism0094 { background-color:#a2836e; color:#fff; }
.prism0095 { background-color:#674d3c; color:#fff; }
.prism0096 { background-color:#f9d5e5; color:#000; }
.prism0097 { background-color:#eeac99; color:#000; }
.prism0098 { background-color:#e06377; color:#fff; }
.prism0099 { background-color:#c83349; color:#fff; }
.prism0100 { background-color:#5b9aa0; color:#fff; }
.prism0101 { background-color:#d6d4e0; color:#000; }
.prism0102 { background-color:#b8a9c9; color:#fff; }
.prism0103 { background-color:#622569; color:#fff; }
.prism0104 { background-color:#96ceb4; color:#fff; }
.prism0105 { background-color:#ffeead; color:#000; }
.prism0106 { background-color:#ffcc5c; color:#fff; }
.prism0107 { background-color:#ff6f69; color:#fff; }
.prism0108 { background-color:#588c7e; color:#fff; }
.prism0109 { background-color:#f2e394; color:#000; }
.prism0110 { background-color:#f2ae72; color:#000; }
.prism0111 { background-color:#d96459; color:#fff; }
