extends ../layout
block content
  .container
    h1 Create Purchase
    +alerts()
    form.form-horizontal(action='/purchase/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Hash
        .col-sm-10
          select.form-control.mono(type='select', name='hash')
            each hash in hashes
              option(value=hash) #{hash}
      .form-group
        label.control-label.col-sm-2 File Extension
        .col-sm-10
          input.form-control(type='text', name='ext', placeholder='Eg: jpg txt mp4')
      .form-group
        label.control-label.col-sm-2 Referrer
        .col-sm-10
          input.form-control(type='text', name='referrer', placeholder='Domains that may refer to this purchase eg: localhost, foo.org')
      .form-group
        label.control-label.col-sm-2 Life
        .col-sm-10
          input.form-control(type='text', name='life', placeholder='Life of purchase in seconds eg 7200 for 2 hours')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
