extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    h1 Create Inventory Record
    +alerts()
    form.form-horizontal(action='/inventory/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Hash
        .col-sm-10
          input.form-control(type='text', name='hash')
      .form-group
        label.control-label.col-sm-2 Store
        .col-sm-10
          select.form-control(type='select', name='store')
            each store in stores
              option(value=store.name) #{store.name}
      .form-group
        label.control-label.col-sm-2 Mime Type
        .col-sm-10
          input.form-control(type='text', name='mimeType')
      .form-group
        label.control-label.col-sm-2 Mime Extension
        .col-sm-10
          input.form-control(type='text', name='mimeExtension')
      .form-group
        label.control-label.col-sm-2 Size
        .col-sm-10
          input.form-control(type='text', name='size')
      .form-group
        label.control-label.col-sm-2 Relative Path
        .col-sm-10
          input.form-control(type='text', name='relativePath')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
