extends layout
block content
  .container
    h1 Dashboard
    div(style='width: 1140px; padding: 0 50px;')
      .dashboard-big-box
        #rate 0
        h3 Req/s
      .dashboard-big-box
        #reqCount 0
        h3 Requests
      .dashboard-big-box
        #inventoryCount 0
        h3 Inventory Items
      .dashboard-big-box
        #copyCount 0
        h3 Inventory Copies
      .dashboard-big-box
        #sizeCount(style='font-size: 1.3em; display: inline;') 0
        #sizeLabel(style='font-size: 1em; display: inline;') B
        h3 Space Used
      .dashboard-big-box
        #sizeTotalCount(style='font-size: 1.3em; display: inline;') 0
        #sizeTotalLabel(style='font-size: 1em; display: inline;') B
        h3 Total Space
      .dashboard-big-box
        #jobCount 0
        h3 Active Jobs
      .dashboard-big-box
        #prismCount 0
        h3 Active Prisms
      .dashboard-big-box
        #storeCount 0
        h3 Active Stores
      .clear-both
    canvas#mushroomHistory(width='1140', height='300', style='width: 1140; height: 300px; display: block')
    .row
      .col-md-6
        h2 Todays Top 10 Items
        table.table.table-striped
          thead
            tr
              th Hash
              th Hits
              th Transfer
          tbody#topItemsBody
            tr
              td(colspan='4') No inventory items to display.
      .col-md-6
        h2 Todays Top 10 Purchases
        table.table.table-striped
          thead
            tr
              th Purchase
              th Hash
              th Hits
              th Transfer
          tbody#topPurchasesBody
            tr
              td(colspan='4') No purchases to display.
    script.
      $(document).ready(function(){
        var intervalSeconds = 10
        var intervalMilliseconds = intervalSeconds * 1000
        setInterval(dashboardUpdate,intervalMilliseconds)
        setInterval(dashboardUpdateProgressBar,1000)
        dashboardUpdate()
      })

