include alerts
include mixins
include table
doctype html
html
  head
    block css
      link(rel='stylesheet', type='text/css', href='/css/layout.css')
    block js
      script(src='/node_modules/jquery/dist/jquery.min.js')
      script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
      script(src='/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js')
    title StretchFS Admin
  body
    if staff
      //navbar
      .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
        .container
          a.navbar-brand(href='/dashboard') StretchFS
          ul.nav.navbar-nav
            li
              a(href='/dashboard') Dashboard
            li.dropdown
              a.dropdown-toggle(href='#', id='navDropContent', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Content <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href='/inventory/list') Inventory
                li
                  a(href='/purchase/list') Purchases
            li
              a(href='/job/list') Jobs
            li.dropdown
              a.dropdown-toggle(href='#', id='navDropPeers', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Infrastructure <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href='/prism/list') Prisms
                li
                  a(href='/store/list') Stores
                li
                  a(href='/peer/list') Peers
            li.dropdown
              a.dropdown-toggle(href='#', id='navDropManage', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Manage <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href='/session/list') Sessions
                li
                  a(href='/user/list') Users
                li
                  a(href='/staff/list') Staff
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown') #{staff.name}
                b.caret
              ul.dropdown-menu
                li
                  a(href='/logout') Logout
    //main content
    block content
    .text-center
      small(style='font-size: 9px;') &copy; StretchFS. Version #{version}
