mixin active(bool)
  if(bool)
    span.glyphicon.glyphicon-check
  else
    span.glyphicon.glyphicon-remove

mixin pathTree(path,file)
  div
    a(href='/file/list?path=,')
      span.glyphicon.glyphicon-folder-open  /
    - var currentPath = []
    each item in path
      - currentPath.push(item)
      if item
        | &nbsp;
        a(href='/file/list?path=,' + currentPath.join(","))= item
        span  /
    if file
      span= file
