mixin active(bool)
  if(bool)
    span.glyphicon.glyphicon-check
  else
    span.glyphicon.glyphicon-remove

mixin browseHeader()
  #header
    h5
      a(href='/')
        span= app.title


mixin fileListHeader()
  #header(style='height: 40px;')
    .pull-right
      .pull-left
        form.form-inline#tableSearch(role='form', action='', method='get')
          .form-group
            a.btn.btn-success(data-toggle='modal', data-target='#folderCreateModal')
              span.glyphicon.glyphicon-plus
              span  Create Folder
        div.text-muted(style='font-size: 11px; color: #999') or use CTL+E
      .pull-left
        a#fileImportButton.btn.btn-primary
          span.glyphicon.glyphicon-download
          span  Import File(s)
        div.text-muted(style='font-size: 11px; color: #999') or use CTL+I
    .clearfix

